# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Distribution / Build
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# Database
db/
*.sqlite3

# Large Model files
models/

# Data files (optional, remove if you want to track sample data)
data/

# Logs
*.log
